@use '../utilities/mixins' as mx;
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  @include mx.point('md') {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--light-grayish-blue);
    margin-bottom: 2rem;
  }
}
